@import 'reset.css';

html {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    /* 
    font-family: lato,sans-serif;
    font-weight: 400,600,700,800,900;
    font-style: normal, italic;
    */
    
}

html * {
    box-sizing: border-box;
}

img {
    /* this is a great way to make images automatically fit parent elements without getting bigger than the parent element */
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    /* color: rgb(84,151,144); */
    /* color: rgb(75,75,75);  */
    color: rgb(32,138,167);
    /* color:rgb(7,89,137);  */
    /* text-shadow: 2px 2px rgb(7,89,137);  */
}

h2, h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgb(7,89,137);
}

article {
    line-height: 120%;
    background-color: rgb(32,138,167);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(75,75,75);
    position: sticky;
    /* height: 60px;  */
    /* not understand */
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav{
    margin-right: 9%;
}

header a{
    display: flex;
    justify-content: center;
}

header >a{
    margin-left: 9%;
}

header img:hover{
    transform: scale(1.1);
    transition: .2s linear all;
}

header img {
    width: 60px;
}

/* > only immediate decendant */
header nav >ul >li> ul{
    display: flex;
    flex-wrap: wrap;
}  

/* The menu and all the links */
header nav ul li a{
    display: block;
    color: rgb(240,243,246);
    text-decoration: none;
    padding: 1.2rem;
    width: 130px;
    text-align: center;
}

/* The hover response */
header nav ul li a:hover{
    background-color:rgb(32,138,167);
    color:rgb(240,243,246);
    font-size: 1.1rem;
    transition: .2s linear all;
}

header nav >ul >li >a {
    display: none;
} 

header nav ul li ul li:hover >a {
    background-color:rgb(32,138,167);
}

header nav >ul >li >ul > li> ul{
    display: none;
    background-color: rgb(75,75,75);
}

header nav >ul >li >ul >li:hover > ul{
    display: block; 
    /* position: absolute; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

article {
    display: flex;
    align-items: normal; 
    background: rgb(196, 218, 224);
    flex-wrap: wrap;
}

article section {
    color: rgb(75,75,75);
    width: 66%;
    padding-left: 10%;
    padding-right:10%;
    padding-top: 3%;
    padding-bottom: 5%;
    background:rgb(240,243,246);
}

article aside {
    width: 34%;
    padding: 10%;
    padding-left: 5%;
    padding-top: 15%;
    color: rgb(7,89,137);
    background-color: rgb(196, 218, 224);
}

article:nth-of-type(2) section {
    width: 66%;
    padding-top: 0%;
    padding-right:10%;
    background: rgb(240,243,246);
}

/* change the icon */
article ul, article ol{
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    list-style-type: disc;
    margin-left: 1rem;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(7,89,137);
    padding-top: 1%;
    padding-bottom: 1%; 
}

article a{
    color: rgb(32,138,167);
}
figure{
    padding-top: 2%;
} 

footer{
    display: flex;
    flex-direction: column;
    padding: 15%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    line-height: 120%;
    background-color:rgb(75,75,75);
    /* background-color: orange; */
}

footer p{
    align-self: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(240,243,246);
}

footer nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(240,243,246);
}

footer nav ul{
    margin: 0 1rem;
}

footer nav ul li a{
    color: rgb(240,243,246);
    text-decoration: none;
    opacity: 50%;
} 

@media screen and (max-width: 900px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header > a{
        display: flex;
        justify-content: center;
        margin-left: 0%;
    }

    header nav{
        display: flex;
        width: 100%;
        justify-content: center;
    }  

    header nav> ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    header nav> ul > li {
        width: 100%;
    }

    header nav >ul >li> ul {
        width: 100%;
        justify-content: space-around;
    }


} 

@media screen and (max-width: 700px) {

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        margin-right: 5%;
        width: 100px;
        height: 70px;
    }
    
    header >a{
        margin-left: 7%;
        margin-top: 0%;
    }

    /* header nav >ul >li >a {
        display: none;
    }  */

    header nav ul li{
        width: 100%;
    }

    /* header nav ul li ul{
        display: flex;
        flex-direction: column;
    }  */

    header nav >ul >li > a{
        display: block;
    }

    header nav >ul >li img{
        width: 40px;
    }

    header nav >ul >li > ul {
        display: none;
    }

    header nav > ul > li:hover > ul {
        display: block;
        display: flex;
        background-color:rgb(75,75,75) ;
        flex-direction: row;
        padding: 0rem;
        width: 120px;
    }
 

    header nav ul li:hover >a {
        background-color:rgb(32,138,167);
    }

    header nav >ul >li >ul >li:hover > ul >a{
        padding-left: 1 rem;
    }
    
    article section, article aside {
        width: 100%;
        padding-top: 10%;
    }

    article:nth-of-type(2) section {
        width: 100%;
        padding-top: 10%;
    }

}