@import 'reset.css';

html {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    /* 
    font-family: lato,sans-serif;
    font-weight: 400,600,700,800,900;
    font-style: normal, italic;
    */
    text-align:center
    
}

html * {
    box-sizing: border-box;
}

body {
    width:960px; 
    margin:0 auto; 
    text-align:left
}

img {
    /* this is a great way to make images automatically fit parent elements without getting bigger than the parent element */
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    /* color: rgb(84,151,144); */
    /* color: rgb(75,75,75);  */
    color: rgb(32,138,167);
    margin-top: 60 px;
    margin-bottom: 40px;
    /* color:rgb(7,89,137);  */
    /* text-shadow: 2px 2px rgb(7,89,137);  */
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgb(7,89,137);
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    color: rgb(7,89,137);
    margin-top: 20px;
    margin-bottom: 10px;
}


.questiontext {
    margin-bottom: 10px; 
}

.question {
    margin-bottom: 10px;
    margin-top: 20px;
}

.highlightp {
    color: rgb(222,108,190);
    font-weight: 600;
}

.highlightt {
    color: rgb(75,115,255);
    font-weight: 600;
}

.highlighti {
    color: rgb(44,205,89);
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: lato,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(75,75,75);
    position: sticky;
    /* height: 60px;  */
    /* not understand */
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav{
    margin-right: 9%;
}

header a{
    display: flex;
    justify-content: center;
}

header >a{
    margin-left: 9%;
}

header img:hover{
    transform: scale(1.1);
    transition: .2s linear all;
}

header img {
    width: 60px;
}

/* > only immediate decendant */
header nav >ul >li> ul{
    display: flex;
    flex-wrap: wrap;
}  

/* The menu and all the links */
header nav ul li a{
    display: block;
    color: rgb(240,243,246);
    text-decoration: none;
    padding: 1.2rem;
    width: 130px;
    text-align: center;
}

/* The hover response */
header nav ul li a:hover{
    background-color:rgb(32,138,167);
    color:rgb(240,243,246);
    font-size: 1.1rem;
    transition: .2s linear all;
}

header nav >ul >li >a {
    display: none;
} 

header nav ul li ul li:hover >a {
    background-color:rgb(32,138,167);
}

header nav >ul >li >ul > li> ul{
    display: none;
    background-color: rgb(75,75,75);
}

header nav >ul >li >ul >li:hover > ul{
    display: block; 
    /* position: absolute; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

