@import 'reset.css';

html {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* 
    font-family: lato,sans-serif;
    font-weight: 400,600,700,800,900;
    font-style: normal, italic;
    */
    text-align:center
    
}

html * {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    width:1000px; 
    /* padding-left: 100px;
    padding-right: 100px; */
    margin: 0 auto; 
    text-align:left;
    background-color: rgb(253,218,189);  
    /* background-color: #2B9FBB;  */
    /* background-color: rgb(249,133,36); */

}

section{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1000px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  border-radius: 20px;
  background-color: white;
  border-style: solid;
  border: rgb(249,133,36);
  /* box-shadow: 0px 0px 5px 5px rgba(232,232,232,0.4); */


}

img {
    /* this is a great way to make images automatically fit parent elements without getting bigger than the parent element */
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 110%;
    /* color: rgb(84,151,144); */
    /* color: rgb(75,75,75);  */
    color: rgb(32,138,167);
    margin-top: 60 px;
    margin-bottom: 40px;
    /* color:rgb(7,89,137);  */
    /* text-shadow: 2px 2px rgb(7,89,137);  */
}

h2 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
    color: rgb(32,138,167);
    /* color: rgb(7,89,137); */
    margin-top: 80px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 150%;
    /* color: rgb(32,138,167); */
    /* color: rgb(7,89,137); */
    margin-top: 40px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    line-height: 150%;
}

p{
    line-height: 150%;
}
.learninggoals{
    margin-bottom: 60px;
    line-height: 150%;
}


.questionstyle {
    /* background: rgb(253,218,189); */
    background-color: white;
    box-shadow: 0px 0px 5px 5px #e4e4e4;
    padding: 30px;
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px; */
    /* border: 2px solid rgb(249,133,36); */
    border-radius: 25px;
    margin-bottom: 40px;
}

.subquestion{
    margin-top: 30px;
    margin-bottom: -15px;
    font-weight: 600;
}

.questiontext {
    margin-bottom: 30px; 
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;

}

.question {
    margin-bottom: 5px;
    margin-top: 30px;
}

.highlightp {
    color: rgb(222,108,190);
    font-weight: 600;
}

.highlightn {
    color: rgb(75,115,255);
    font-weight: 600;
}

.highlighti {
    color: rgb(44,205,89);
    font-weight: 600;
}

.exampleanswer{
    color: rgb(95,95,95);
}

.subq{
    /* padding-left: 50px; */
    margin-top: -20px;
}

input[type="radio"] {
    margin-top: 10px;
    margin-left: 10px;
}

input[type="text"] {
    margin-top: 10px;
    margin-left: 10px;
}

.learninggoals ul{
    list-style-type: circle;
    list-style-position: inside;
}

footer {
    padding-bottom: 200px;
}

/* Next page css */
.nextpage{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.nextp{
  display:block;
  font-size:large;
  font-weight: 700;
  padding: 10px;
  border-color: #2B9FBB;
  background-color: white;
  border-radius: 10px;
  
}


/* Feedback css */
.checkanswer2{
  margin-top: 10px; 
}

button{
  font-family: 'Lato', sans-serif;
  font-size: small;
}


.rightfeedback{
  border: 1px solid #2B9FBB;
  font-size: small;
  border-radius: 10px;
  background-color: rgba(43, 159, 187,0.2);
  line-height: 150%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: none;
}

.falsefeedback{
  border: 1px solid rgb(249,133,36);
  font-size: small;
  border-radius: 10px;
  background-color: rgba(249,133,36,0.2);
  line-height: 150%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: none;
}


/* Progress Bar css */
:root {
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #75787b;
    --color-gray-light: #bbb;
    --color-gray-disabled: #e8e8e8;
    --color-orange: #F98524;
    --color-green-dark: #383;
    --font-size-small: 0.8
    rem;
    --font-size-default: 1.1rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
  }
  
  h2 {
    color: var(--color-gray);
    font-size: var(--font-size-small);
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  section {
    margin-bottom: 2rem;
  } */

  /* .nav-bar {
    margin: 3rem 0 1rem 0;
  } */
  
  .progress-bar {
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 1rem 0 4rem 0;
  }
  .progress-bar li {
    flex: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 0 25px 0;
    font-size: var(--font-size-small);
    line-height: 1.6;
    color: var(--color-orange);
    font-weight: 500;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 5px solid var(--color-gray-disabled);
  }

  .progress-bar li:nth-child(2) span{
    padding-left: 20px;
  }

  .progress-bar li:nth-child(2){
    display: flex;
    justify-content: center;
  }

  .progress-bar li:first-child,
  .progress-bar li:last-child {
    flex: 1;
  }
  .progress-bar li:last-child {
    text-align: right;
  }


  .progress-bar li:before {
    /* content: ""; */
    display: block;
    font-size: var(--font-size-default);
    width: 30px;
    height: 30px;
    background-color: var(--color-gray-disabled);
    border-radius: 50%;
    border: 2.5px solid var(--color-white);
    position: absolute;
    left: calc(50% - 6px);
    bottom: -20px;
    z-index: 3;
    transition: all .2s ease-in-out;
  }

  .progress-bar li:first-child:before {
    display: flex;
    justify-content: center;
    content: "";
    left: 0;
  }

  .progress-bar li:nth-child(2):before {
    content: "";
  }

  .progress-bar li:last-child:before {
    content: "";
    display: flex;
    justify-content: center;
    right: 0;
    left: auto;
  }
  .progress-bar span {
    transition: opacity .3s ease-in-out;
  }

  .progress-bar li span {
    /* opacity: 0; */
    color: var(--color-gray-disabled);
  }

  .progress-bar li.is-active span,
  .progress-bar .is-complete span {
    /* opacity: 0; */
    color: var(--color-orange);
  }


  .progress-bar .is-complete:not(:first-child):after,
  .progress-bar .is-active:not(:first-child):after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: -50%;
    z-index: 2;
    border-bottom: 5px solid var(--color-orange);
  }
  .progress-bar li:last-child span {
    width: 200%;
    display: inline-block;
    position: absolute;
    left: -100%;
  }
  
  .progress-bar .is-complete:last-child:after,
  .progress-bar .is-active:last-child:after {
    width: 200%;
    left: -100%;
  }

  .progress-bar .is-complete:before {
    background-color: var(--color-orange);
  }

  .progress-bar .is-complete:hover:before {
    background-color: var(--color-white);
    border-color: var(--color-orange);
  }
  
  .progress-bar .is-active:before {
    background-color: var(--color-white);
    border-color: var(--color-orange);
  }

  .progress-bar .is-complete:hover:before,
  .progress-bar .is-active:hover:before{
    transform: scale(1.3);
  }

  .progress-bar .is-active:first-child:before,
  .progress-bar .is-complete:first-child:before{
    content: "1";
  }

  .progress-bar .is-active:nth-child(2):before,
  .progress-bar .is-complete:nth-child(2):before{
    content: "2";
  }

  .progress-bar .is-active:last-child:before,
  .progress-bar .is-complete:last-child:before{
    content: "3";
  }

  /* .progress-bar li:hover:before,
  .progress-bar .is-hovered:before {
    transform: scale(1.3);
  } */
  
  .progress-bar li:hover span,
  .progress-bar li.is-hovered span {
    opacity: 1;
  } 
  
  /* .progress-bar:hover li:not(:hover) span {
    opacity: 0;
  } */
  
  .x-ray .progress-bar,
  .x-ray .progress-bar li {
    border: 1px dashed red;
  }
  
  .progress-bar .has-changes {
    opacity: 1 !important;
  }
  .progress-bar .has-changes:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: calc(50% - 4px);
    bottom: -18px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
  }
  
  
